<a href="https://colab.research.google.com/github/Eric1891/Micro-Credential-winter-2022/blob/main/day5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Pandas

In [24]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(42)

#Series

In [25]:
labels = ['a','b','c','d']
my_data =[10,20,30,40]
arr =  np.array(my_data)
d = {'a':10, 'b':20, 'c':30,'d':40}

In [26]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [27]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# Create a series of ten cities and years

In [28]:
labels =['NY','LA','TX','DC','AZ','CA','PA','IL','AZ','LI']
my_data =[1900,2001,2200,1988,2000,2001,2002,2031,2033,2004]
pd.Series(data=my_data, index=labels)

NY    1900
LA    2001
TX    2200
DC    1988
AZ    2000
CA    2001
PA    2002
IL    2031
AZ    2033
LI    2004
dtype: int64

In [36]:
pd.Series(data=labels,index=my_data)

1900    NY
2001    LA
2200    TX
1988    DC
2000    AZ
2001    CA
2002    PA
2031    IL
2033    AZ
2004    LI
dtype: object

#Data Frames

In [31]:
data = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], 
                    ['W', 'X', 'Y', 'Z'])

In [33]:
data

          W         X         Y         Z
A  1.465649 -0.225776  0.067528 -1.424748
B -0.544383  0.110923 -1.150994  0.375698
C -0.600639 -0.291694 -0.601707  1.852278
D -0.013497 -1.057711  0.822545 -1.220844
E  0.208864 -1.959670 -1.328186  0.196861

In [35]:
data

          W         X         Y         Z
A  1.465649 -0.225776  0.067528 -1.424748
B -0.544383  0.110923 -1.150994  0.375698
C -0.600639 -0.291694 -0.601707  1.852278
D -0.013497 -1.057711  0.822545 -1.220844
E  0.208864 -1.959670 -1.328186  0.196861

In [37]:
data['Y']

A    0.067528
B   -1.150994
C   -0.601707
D    0.822545
E   -1.328186
Name: Y, dtype: float64

In [38]:
df_1 = data['Y']

In [39]:
df_1

A    0.067528
B   -1.150994
C   -0.601707
D    0.822545
E   -1.328186
Name: Y, dtype: float64

In [40]:
data['Z']

A   -1.424748
B    0.375698
C    1.852278
D   -1.220844
E    0.196861
Name: Z, dtype: float64

In [41]:
df_2 = data['Z']
df_2

A   -1.424748
B    0.375698
C    1.852278
D   -1.220844
E    0.196861
Name: Z, dtype: float64

In [42]:
data

          W         X         Y         Z
A  1.465649 -0.225776  0.067528 -1.424748
B -0.544383  0.110923 -1.150994  0.375698
C -0.600639 -0.291694 -0.601707  1.852278
D -0.013497 -1.057711  0.822545 -1.220844
E  0.208864 -1.959670 -1.328186  0.196861

In [43]:
data['new'] =  data['Y'] + data['W']
data

          W         X         Y         Z       new
A  1.465649 -0.225776  0.067528 -1.424748  1.533177
B -0.544383  0.110923 -1.150994  0.375698 -1.695376
C -0.600639 -0.291694 -0.601707  1.852278 -1.202345
D -0.013497 -1.057711  0.822545 -1.220844  0.809048
E  0.208864 -1.959670 -1.328186  0.196861 -1.119322

#cCreate a new colunm with the combination of 3 columns from our dataset

In [45]:
data['O'] = data['Y'] - data['W']

In [46]:
data

          W         X         Y         Z       new         O
A  1.465649 -0.225776  0.067528 -1.424748  1.533177 -1.398121
B -0.544383  0.110923 -1.150994  0.375698 -1.695376 -0.606611
C -0.600639 -0.291694 -0.601707  1.852278 -1.202345 -0.001068
D -0.013497 -1.057711  0.822545 -1.220844  0.809048  0.836042
E  0.208864 -1.959670 -1.328186  0.196861 -1.119322 -1.537050