<a href="https://colab.research.google.com/github/Eric1891/Micro-Credential-winter-2022/blob/main/day6_Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy  as np
import pandas as pd

#Intro to Pandas
#nba Data Analysis

#Importing Data

#EDA Methods & Attributes

In [ ]:
nba = pd.read_csv('https://raw.githubusercontent.com/Eric1891/data/main/nba.csv')

In [ ]:
nba

              Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0
..             ...             ...  ...                ...        ...
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                NaN   900000.0
455   Tibor Pleiss       Utah Jazz  ...                NaN  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0
457            NaN             NaN  ...                NaN        NaN

[458 rows x 9 columns]

In [ ]:
nba.head(10)

            Name            Team  Number  ... Weight            College      Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas   7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette   6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University         NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State   1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN   5000000.0
5   Amir Johnson  Boston Celtics    90.0  ...  240.0                NaN  12000000.0
6  Jordan Mickey  Boston Celtics    55.0  ...  235.0                LSU   1170960.0
7   Kelly Olynyk  Boston Celtics    41.0  ...  238.0            Gonzaga   2165160.0
8   Terry Rozier  Boston Celtics    12.0  ...  190.0         Louisville   1824360.0
9   Marcus Smart  Boston Celtics    36.0  ...  220.0     Oklahoma State   3431040.0

[10 rows x 9 columns]

In [ ]:
nba.tail()

             Name       Team  Number Position  ...  Height Weight  College     Salary
453  Shelvin Mack  Utah Jazz     8.0       PG  ...     6-3  203.0   Butler  2433333.0
454     Raul Neto  Utah Jazz    25.0       PG  ...     6-1  179.0      NaN   900000.0
455  Tibor Pleiss  Utah Jazz    21.0        C  ...     7-3  256.0      NaN  2900000.0
456   Jeff Withey  Utah Jazz    24.0        C  ...     7-0  231.0   Kansas   947276.0
457           NaN        NaN     NaN      NaN  ...     NaN    NaN      NaN        NaN

[5 rows x 9 columns]

In [ ]:
nba.tail(10)

               Name       Team  Number  ... Weight   College      Salary
448  Gordon Hayward  Utah Jazz    20.0  ...  226.0    Butler  15409570.0
449     Rodney Hood  Utah Jazz     5.0  ...  206.0      Duke   1348440.0
450      Joe Ingles  Utah Jazz     2.0  ...  226.0       NaN   2050000.0
451   Chris Johnson  Utah Jazz    23.0  ...  206.0    Dayton    981348.0
452      Trey Lyles  Utah Jazz    41.0  ...  234.0  Kentucky   2239800.0
453    Shelvin Mack  Utah Jazz     8.0  ...  203.0    Butler   2433333.0
454       Raul Neto  Utah Jazz    25.0  ...  179.0       NaN    900000.0
455    Tibor Pleiss  Utah Jazz    21.0  ...  256.0       NaN   2900000.0
456     Jeff Withey  Utah Jazz    24.0  ...  231.0    Kansas    947276.0
457             NaN        NaN     NaN  ...    NaN       NaN         NaN

[10 rows x 9 columns]

In [ ]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [ ]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [ ]:
nba.shape

(458, 9)

In [ ]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [ ]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

#New dataset

In [ ]:
revenue = pd.read_csv('https://raw.githubusercontent.com/Eric1891/data/main/revenue.csv')

In [ ]:
revenue

      Date  New York  Los Angeles  Miami
0   1/1/16       985          122    499
1   1/2/16       738          788    534
2   1/3/16        14           20    933
3   1/4/16       730          904    885
4   1/5/16       114           71    253
5   1/6/16       936          502    497
6   1/7/16       123          996    115
7   1/8/16       935          492    886
8   1/9/16       846          954    823
9  1/10/16        54          285    216

In [ ]:
revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         10 non-null     object
 1   New York     10 non-null     int64
 2   Los Angeles  10 non-null     int64
 3   Miami        10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes

In [ ]:
revenue.head()

     Date  New York  Los Angeles  Miami
0  1/1/16       985          122    499
1  1/2/16       738          788    534
2  1/3/16        14           20    933
3  1/4/16       730          904    885
4  1/5/16       114           71    253

In [ ]:
revenue.values

array([['1/1/16', 985, 122, 499],
       ['1/2/16', 738, 788, 534],
       ['1/3/16', 14, 20, 933],
       ['1/4/16', 730, 904, 885],
       ['1/5/16', 114, 71, 253],
       ['1/6/16', 936, 502, 497],
       ['1/7/16', 123, 996, 115],
       ['1/8/16', 935, 492, 886],
       ['1/9/16', 846, 954, 823],
       ['1/10/16', 54, 285, 216]], dtype=object)

In [ ]:
revenue.shape

(10, 4)

In [ ]:
revenue.index

RangeIndex(start=0, stop=10, step=1)

# Select one or multiple Colums from DataFrame

In [ ]:
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba[['Name','Team','Position']].head()

            Name            Team Position
0  Avery Bradley  Boston Celtics       PG
1    Jae Crowder  Boston Celtics       SF
2   John Holland  Boston Celtics       SG
3    R.J. Hunter  Boston Celtics       SG
4  Jonas Jerebko  Boston Celtics       PF

In [ ]:
nba[['Name']].head()

            Name
0  Avery Bradley
1    Jae Crowder
2   John Holland
3    R.J. Hunter
4  Jonas Jerebko

In [ ]:
nba[['Name','Team','Position']].tail()

             Name       Team Position
453  Shelvin Mack  Utah Jazz       PG
454     Raul Neto  Utah Jazz       PG
455  Tibor Pleiss  Utah Jazz        C
456   Jeff Withey  Utah Jazz        C
457           NaN        NaN      NaN

In [ ]:
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba[['Name','Salary']].head()

            Name     Salary
0  Avery Bradley  7730337.0
1    Jae Crowder  6796117.0
2   John Holland        NaN
3    R.J. Hunter  1148640.0
4  Jonas Jerebko  5000000.0

In [ ]:
nba_players_salary = nba[['Name','Salary']]

In [ ]:
nba_players_salary.head()

            Name     Salary
0  Avery Bradley  7730337.0
1    Jae Crowder  6796117.0
2   John Holland        NaN
3    R.J. Hunter  1148640.0
4  Jonas Jerebko  5000000.0

In [ ]:
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

# Adding a column to a dataset or DataFrame

In [ ]:
nba['Sport'] ='Basketball'
nba.head()

            Name            Team  ...     Salary       Sport
0  Avery Bradley  Boston Celtics  ...  7730337.0  Basketball
1    Jae Crowder  Boston Celtics  ...  6796117.0  Basketball
2   John Holland  Boston Celtics  ...        NaN  Basketball
3    R.J. Hunter  Boston Celtics  ...  1148640.0  Basketball
4  Jonas Jerebko  Boston Celtics  ...  5000000.0  Basketball

[5 rows x 10 columns]

In [ ]:
nba['League'] = 'NBA'

In [ ]:
nba.head()

            Name            Team  ...  Salary in Millions League
0  Avery Bradley  Boston Celtics  ...            7.730337    NBA
1    Jae Crowder  Boston Celtics  ...            6.796117    NBA
3    R.J. Hunter  Boston Celtics  ...            1.148640    NBA
6  Jordan Mickey  Boston Celtics  ...            1.170960    NBA
7   Kelly Olynyk  Boston Celtics  ...            2.165160    NBA

[5 rows x 13 columns]

In [ ]:
nba.drop(['League'],axis=1)

KeyError: ignored

In [ ]:
nba.drop(['League'], axis=1, inplace=True)

KeyError: ignored

# Basic Operations
## Broadcasting

In [ ]:
nba.head()

            Name            Team  Number  ...     Salary       Sport League
0  Avery Bradley  Boston Celtics     0.0  ...  7730337.0  Basketball    NBA
1    Jae Crowder  Boston Celtics    99.0  ...  6796117.0  Basketball    NBA
2   John Holland  Boston Celtics    30.0  ...        NaN  Basketball    NBA
3    R.J. Hunter  Boston Celtics    28.0  ...  1148640.0  Basketball    NBA
4  Jonas Jerebko  Boston Celtics     8.0  ...  5000000.0  Basketball    NBA

[5 rows x 11 columns]

In [ ]:
nba['Age'].add(5)  #or(add in broadcasting)
nba['Age'] + 5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [ ]:
nba.head()

            Name            Team  Number  ...     Salary       Sport League
0  Avery Bradley  Boston Celtics     0.0  ...  7730337.0  Basketball    NBA
1    Jae Crowder  Boston Celtics    99.0  ...  6796117.0  Basketball    NBA
2   John Holland  Boston Celtics    30.0  ...        NaN  Basketball    NBA
3    R.J. Hunter  Boston Celtics    28.0  ...  1148640.0  Basketball    NBA
4  Jonas Jerebko  Boston Celtics     8.0  ...  5000000.0  Basketball    NBA

[5 rows x 11 columns]

In [ ]:
nba['Salary'].sub(50000)
nba['Salary'] - 50000

0      7680337.0
1      6746117.0
2            NaN
3      1098640.0
4      4950000.0
         ...
453    2383333.0
454     850000.0
455    2850000.0
456     897276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [ ]:
nba.head(3)

            Name            Team  Number  ...     Salary       Sport League
0  Avery Bradley  Boston Celtics     0.0  ...  7730337.0  Basketball    NBA
1    Jae Crowder  Boston Celtics    99.0  ...  6796117.0  Basketball    NBA
2   John Holland  Boston Celtics    30.0  ...        NaN  Basketball    NBA

[3 rows x 11 columns]

In [ ]:
nba['Weight'].mul(0.453592)

0       81.646560
1      106.594120
2       92.986360
3       83.914520
4      104.779752
          ...
453     92.079176
454     81.192968
455    116.119552
456    104.779752
457           NaN
Name: Weight, Length: 458, dtype: float64

In [ ]:
nba['Weight in  KGs' ] = nba['Weight'] * 0.453592

In [ ]:
nba.head(3)

            Name            Team  Number  ...       Sport  League Weight in  KGs
0  Avery Bradley  Boston Celtics     0.0  ...  Basketball     NBA       81.64656
1    Jae Crowder  Boston Celtics    99.0  ...  Basketball     NBA      106.59412
2   John Holland  Boston Celtics    30.0  ...  Basketball     NBA       92.98636

[3 rows x 12 columns]

# create a salary in millions

In [ ]:
nba['Salary in Millions'] = nba['Salary'] / 1000000

In [ ]:
nba

              Name            Team  ...  Weight in  KGs Salary in Millions
0    Avery Bradley  Boston Celtics  ...       81.646560           7.730337
1      Jae Crowder  Boston Celtics  ...      106.594120           6.796117
2     John Holland  Boston Celtics  ...       92.986360                NaN
3      R.J. Hunter  Boston Celtics  ...       83.914520           1.148640
4    Jonas Jerebko  Boston Celtics  ...      104.779752           5.000000
..             ...             ...  ...             ...                ...
453   Shelvin Mack       Utah Jazz  ...       92.079176           2.433333
454      Raul Neto       Utah Jazz  ...       81.192968           0.900000
455   Tibor Pleiss       Utah Jazz  ...      116.119552           2.900000
456    Jeff Withey       Utah Jazz  ...      104.779752           0.947276
457            NaN             NaN  ...             NaN                NaN

[458 rows x 12 columns]

In [ ]:
nba["Salary"].div(1000000)
nba2 = nba["Salary in Millions"] = nba["Salary"] / 1000000

In [ ]:
nba2 = nba.copy()

In [ ]:
nba.head()

            Name            Team  ...  Weight in  KGs Salary in Millions
0  Avery Bradley  Boston Celtics  ...       81.646560           7.730337
1    Jae Crowder  Boston Celtics  ...      106.594120           6.796117
2   John Holland  Boston Celtics  ...       92.986360                NaN
3    R.J. Hunter  Boston Celtics  ...       83.914520           1.148640
4  Jonas Jerebko  Boston Celtics  ...      104.779752           5.000000

[5 rows x 12 columns]

# search a sports dataset and apply all methods we've covered

In [ ]:
rugby = pd.read_csv('https://raw.githubusercontent.com/Eric1891/data/main/csv.csv')

In [ ]:
rugby

              Date  Season  ... TouchSeasonActive.M  TouchSeasonActive.F
0       2014-09-01    2015  ...                 NaN                  NaN
1       2014-09-01    2015  ...                 NaN                  NaN
2       2014-09-01    2015  ...                 NaN                  NaN
3       2014-09-01    2015  ...                 NaN                  NaN
4       2014-09-01    2015  ...                 NaN                  NaN
...            ...     ...  ...                 ...                  ...
102251  2019-08-31    2019  ...                 0.0                  0.0
102252  2019-08-31    2019  ...                 0.0                  0.0
102253  2019-08-31    2019  ...                 0.0                  0.0
102254  2019-08-31    2019  ...                 0.0                  0.0
102255  2019-08-31    2019  ...                 6.0                  3.0

[102256 rows x 90 columns]

In [ ]:
rugby.head()

         Date  Season  ... TouchSeasonActive.M  TouchSeasonActive.F
0  2014-09-01    2015  ...                 NaN                  NaN
1  2014-09-01    2015  ...                 NaN                  NaN
2  2014-09-01    2015  ...                 NaN                  NaN
3  2014-09-01    2015  ...                 NaN                  NaN
4  2014-09-01    2015  ...                 NaN                  NaN

[5 rows x 90 columns]

In [ ]:
nba['Team'].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Atlanta Hawks             15
Oklahoma City Thunder     15
Toronto Raptors           15
Dallas Mavericks          15
Sacramento Kings          15
Golden State Warriors     15
Los Angeles Lakers        15
Washington Wizards        15
Charlotte Hornets         15
Miami Heat                15
Chicago Bulls             15
Indiana Pacers            15
Cleveland Cavaliers       15
Philadelphia 76ers        15
Houston Rockets           15
Phoenix Suns              15
Detroit Pistons           15
Utah Jazz                 15
Brooklyn Nets             15
Boston Celtics            15
Los Angeles Clippers      15
San Antonio Spurs         15
Portland Trail Blazers    15
Denver Nuggets            15
Minnesota Timberwolves    14
Orlando Magic             14
Name: Team, dtype: int64

In [ ]:
nba['Position'].value_counts()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64

In [ ]:
nba['Salary'].value_counts()

947276.0     31
845059.0     18
525093.0     13
981348.0      6
1100602.0     5
             ..
1242720.0     1
2489530.0     1
5103120.0     1
9463484.0     1
700902.0      1
Name: Salary, Length: 309, dtype: int64

In [ ]:
nba['Age'].value_counts()

24.0    47
25.0    45
27.0    41
23.0    41
26.0    36
28.0    31
30.0    31
29.0    28
22.0    26
31.0    22
21.0    19
20.0    19
33.0    14
32.0    13
36.0    10
34.0    10
35.0     9
38.0     4
37.0     4
40.0     3
39.0     2
19.0     2
Name: Age, dtype: int64

In [ ]:
nba.head()

            Name            Team  ...  Weight in  KGs Salary in Millions
0  Avery Bradley  Boston Celtics  ...       81.646560           7.730337
1    Jae Crowder  Boston Celtics  ...      106.594120           6.796117
2   John Holland  Boston Celtics  ...       92.986360                NaN
3    R.J. Hunter  Boston Celtics  ...       83.914520           1.148640
4  Jonas Jerebko  Boston Celtics  ...      104.779752           5.000000

[5 rows x 12 columns]

In [ ]:
nba.dropna(how = 'any', inplace= True)

In [ ]:
nba.head()

            Name            Team  ...  Weight in  KGs Salary in Millions
0  Avery Bradley  Boston Celtics  ...       81.646560           7.730337
1    Jae Crowder  Boston Celtics  ...      106.594120           6.796117
3    R.J. Hunter  Boston Celtics  ...       83.914520           1.148640
6  Jordan Mickey  Boston Celtics  ...      106.594120           1.170960
7   Kelly Olynyk  Boston Celtics  ...      107.954896           2.165160

[5 rows x 12 columns]

In [ ]:
nba.dropna(subset=['Salary', 'College'])

              Name            Team  ...  Weight in  KGs Salary in Millions
0    Avery Bradley  Boston Celtics  ...       81.646560           7.730337
1      Jae Crowder  Boston Celtics  ...      106.594120           6.796117
3      R.J. Hunter  Boston Celtics  ...       83.914520           1.148640
6    Jordan Mickey  Boston Celtics  ...      106.594120           1.170960
7     Kelly Olynyk  Boston Celtics  ...      107.954896           2.165160
..             ...             ...  ...             ...                ...
449    Rodney Hood       Utah Jazz  ...       93.439952           1.348440
451  Chris Johnson       Utah Jazz  ...       93.439952           0.981348
452     Trey Lyles       Utah Jazz  ...      106.140528           2.239800
453   Shelvin Mack       Utah Jazz  ...       92.079176           2.433333
456    Jeff Withey       Utah Jazz  ...      104.779752           0.947276

[364 rows x 12 columns]

In [ ]:
nba.head()

            Name            Team  ...  Weight in  KGs Salary in Millions
0  Avery Bradley  Boston Celtics  ...       81.646560           7.730337
1    Jae Crowder  Boston Celtics  ...      106.594120           6.796117
3    R.J. Hunter  Boston Celtics  ...       83.914520           1.148640
6  Jordan Mickey  Boston Celtics  ...      106.594120           1.170960
7   Kelly Olynyk  Boston Celtics  ...      107.954896           2.165160

[5 rows x 12 columns]

In [ ]:
nba2.head()

0    7.730337
1    6.796117
3    1.148640
6    1.170960
7    2.165160
Name: Salary, dtype: float64

In [ ]:
nba2['Salary'].fillna(0, inplace = True)

In [ ]:
nba2.head()

            Name            Team  ...  Weight in  KGs Salary in Millions
0  Avery Bradley  Boston Celtics  ...       81.646560           7.730337
1    Jae Crowder  Boston Celtics  ...      106.594120           6.796117
3    R.J. Hunter  Boston Celtics  ...       83.914520           1.148640
6  Jordan Mickey  Boston Celtics  ...      106.594120           1.170960
7   Kelly Olynyk  Boston Celtics  ...      107.954896           2.165160

[5 rows x 12 columns]

In [ ]:
nba2['College'].fillna('No College', inplace = True)

In [ ]:
nba2.head()

            Name            Team  ...  Weight in  KGs Salary in Millions
0  Avery Bradley  Boston Celtics  ...       81.646560           7.730337
1    Jae Crowder  Boston Celtics  ...      106.594120           6.796117
3    R.J. Hunter  Boston Celtics  ...       83.914520           1.148640
6  Jordan Mickey  Boston Celtics  ...      106.594120           1.170960
7   Kelly Olynyk  Boston Celtics  ...      107.954896           2.165160

[5 rows x 12 columns]

In [ ]:
nba2['Salary in Millions'].fillna(0, inplace = True)

In [ ]:
nba2.to_csv('/content/drive/MyDrive/2022/data/nba2.csv')

#Inclass Assignment

Find a sports database
after conduction initial EDA which include and not limited to:
1. Change at least two column names and complete at least one broadcast operation.
(make sure to make a copy of the new version of the dataset once in a while)
answer questions:
1. Who are the highest paid playes in the sport.
2. who is the most efficient player in that sport
3. Which is the better team in that sport
4. Come up with 5 more questions and answers.

In [ ]:
rugby.head()

         Date  Season  ... TouchSeasonActive.M  TouchSeasonActive.F
0  2014-09-01    2015  ...                 NaN                  NaN
1  2014-09-01    2015  ...                 NaN                  NaN
2  2014-09-01    2015  ...                 NaN                  NaN
3  2014-09-01    2015  ...                 NaN                  NaN
4  2014-09-01    2015  ...                 NaN                  NaN

[5 rows x 90 columns]