<a href="https://colab.research.google.com/github/Eric1891/Micro-Credential-winter-2022/blob/main/day7_group2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
rates = pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/2020%20November%20General%20Election%20-%20Turnout%20Rates.csv')

In [ ]:
rates.head()

           State  ... State Abv
0  United States  ...       NaN
1        Alabama  ...        AL
2         Alaska  ...        AK
3        Arizona  ...        AZ
4       Arkansas  ...        AR

[5 rows x 15 columns]

In [ ]:
rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                52 non-null     object
 1   Source                               40 non-null     object
 2   Official/Unofficial                  25 non-null     object
 3   Total Ballots Counted (Estimate)     52 non-null     object
 4   Vote for Highest Office (President)  24 non-null     object
 5   VEP Turnout Rate                     52 non-null     object
 6   Voting-Eligible Population (VEP)     52 non-null     object
 7   Voting-Age Population (VAP)          52 non-null     object
 8   % Non-citizen                        52 non-null     object
 9   Prison                               52 non-null     object
 10  Probation                            52 non-null     object
 11  Parole                               52 non-null     object
 12  Total Ineligible Felon               52 non-null     object
 13  Overseas Eligible                    1 non-null      object
 14  State Abv                            51 non-null     object
dtypes: object(15)
memory usage: 6.2+ KB

In [ ]:
rates.shape

(52, 15)

In [ ]:
rates.columns

Index(['State', 'Source', 'Official/Unofficial',
       'Total Ballots Counted (Estimate)',
       'Vote for Highest Office (President)', 'VEP Turnout Rate',
       'Voting-Eligible Population (VEP)', 'Voting-Age Population (VAP)',
       '% Non-citizen', 'Prison', 'Probation', 'Parole',
       'Total Ineligible Felon', 'Overseas Eligible', 'State Abv'],
      dtype='object')

In [ ]:
rates.isnull().sum()

State                                   0
Source                                 12
Official/Unofficial                    27
Total Ballots Counted (Estimate)        0
Vote for Highest Office (President)    28
VEP Turnout Rate                        0
Voting-Eligible Population (VEP)        0
Voting-Age Population (VAP)             0
% Non-citizen                           0
Prison                                  0
Probation                               0
Parole                                  0
Total Ineligible Felon                  0
Overseas Eligible                      51
State Abv                               1
dtype: int64

In [ ]:
rates.dtypes

State                                  object
Source                                 object
Official/Unofficial                    object
Total Ballots Counted (Estimate)       object
Vote for Highest Office (President)    object
VEP Turnout Rate                       object
Voting-Eligible Population (VEP)       object
Voting-Age Population (VAP)            object
% Non-citizen                          object
Prison                                 object
Probation                              object
Parole                                 object
Total Ineligible Felon                 object
Overseas Eligible                      object
State Abv                              object
dtype: object

#change the index

In [ ]:
rates.index

RangeIndex(start=0, stop=52, step=1)

In [144]:
new_rates = rates.set_index('State')

In [145]:
new_rates.head()

                                                          Source  ... State Abv
State                                                             ...
United States                                                NaN  ...       NaN
Alabama        https://www2.alabamavotes.gov/electionnight/st...  ...        AL
Alaska         https://www.elections.alaska.gov/results/20GEN...  ...        AK
Arizona             https://results.arizona.vote/#/featured/18/0  ...        AZ
Arkansas       https://results.enr.clarityelections.com/AR/10...  ...        AR

[5 rows x 9 columns]

In [ ]:
rates.head()

           State  ... State Abv
0  United States  ...       NaN
1        Alabama  ...        AL
2         Alaska  ...        AK
3        Arizona  ...        AZ
4       Arkansas  ...        AR

[5 rows x 15 columns]

In [ ]:
rates['Vote for Highest Office (President)'] = rates['Vote for Highest Office (President)'].fillna(0)

In [ ]:
rates.head(3)

           State  ... State Abv
0  United States  ...       NaN
1        Alabama  ...        AL
2         Alaska  ...        AK

[3 rows x 15 columns]

In [ ]:
columns_to_be_dropped = ['Official/Unofficial', 'Overseas Eligible','Prison', 'Probation', 'Parole']

In [ ]:
rates.drop(columns_to_be_dropped, axis=1, inplace=True)

In [ ]:
rates['Vote for Highest Office (President)'] = rates['Vote for Highest Office (President)'].fillna(0)

In [ ]:
rates.head()

           State  ... State Abv
0  United States  ...       NaN
1        Alabama  ...        AL
2         Alaska  ...        AK
3        Arizona  ...        AZ
4       Arkansas  ...        AR

[5 rows x 10 columns]

#What is the state with more non-citizen

In [ ]:
rates.iloc[2]

State                                                                             Alaska
Source                                 https://www.elections.alaska.gov/results/20GEN...
Total Ballots Counted (Estimate)                                                 367,000
Vote for Highest Office (President)                                                    0
VEP Turnout Rate                                                                   69.8%
Voting-Eligible Population (VEP)                                                 525,568
Voting-Age Population (VAP)                                                      551,117
% Non-citizen                                                                       3.4%
Total Ineligible Felon                                                             6,927
State Abv                                                                             AK
Name: 2, dtype: object

In [113]:
new_rates=rates[['Total Ballots Counted (Estimate)']].groupby(rates['State']).sum()

In [114]:
new_rates.head()

           Total Ballots Counted (Estimate)
State
Alabama                           2,306,587
Alaska                              367,000
Arizona                           3,400,000
Arkansas                          1,212,030
California                       16,800,000

In [ ]:
rates.describe()

                State  ... State Abv
count              52  ...        51
unique             52  ...        51
top     New Hampshire  ...        CA
freq                1  ...         1

[4 rows x 10 columns]

In [ ]:
rates.describe().transpose()

                                    count  ... freq
State                                  52  ...    1
Source                                 40  ...    1
Total Ballots Counted (Estimate)       52  ...    2
Vote for Highest Office (President)    52  ...   28
VEP Turnout Rate                       52  ...    2
Voting-Eligible Population (VEP)       52  ...    1
Voting-Age Population (VAP)            52  ...    1
% Non-citizen                          52  ...    5
Total Ineligible Felon                 52  ...    3
State Abv                              51  ...    1

[10 rows x 4 columns]

In [ ]:
rates.count()

State                                  52
Source                                 40
Total Ballots Counted (Estimate)       52
Vote for Highest Office (President)    52
VEP Turnout Rate                       52
Voting-Eligible Population (VEP)       52
Voting-Age Population (VAP)            52
% Non-citizen                          52
Total Ineligible Felon                 52
State Abv                              51
dtype: int64

In [143]:

#set state as an index
new_rates = rates.set_index('State')

In [134]:
new_rates.head()

                                                          Source  ... State Abv
State                                                             ...
United States                                                NaN  ...       NaN
Alabama        https://www2.alabamavotes.gov/electionnight/st...  ...        AL
Alaska         https://www.elections.alaska.gov/results/20GEN...  ...        AK
Arizona             https://results.arizona.vote/#/featured/18/0  ...        AZ
Arkansas       https://results.enr.clarityelections.com/AR/10...  ...        AR

[5 rows x 9 columns]

In [135]:
rates.columns

Index(['State', 'Source', 'Total Ballots Counted (Estimate)',
       'Vote for Highest Office (President)', 'VEP Turnout Rate',
       'Voting-Eligible Population (VEP)', 'Voting-Age Population (VAP)',
       '% Non-citizen', 'Total Ineligible Felon', 'State Abv'],
      dtype='object')

In [136]:
df = new_rates.copy()

In [137]:
df['% Non-citizen'].str.strip('%')

State
United States            7.8
Alabama                  2.3
Alaska                   3.4
Arizona                  8.9
Arkansas                 3.6
California              15.0
Colorado                 5.7
Connecticut              7.7
Delaware                 5.8
District of Columbia     7.1
Florida                 10.1
Georgia                  6.6
Hawaii                   9.1
Idaho                    4.1
Illinois                 7.8
Indiana                  3.6
Iowa                     3.5
Kansas                   4.9
Kentucky                 2.8
Louisiana                2.8
Maine                    1.7
Maryland                 8.4
Massachusetts            8.7
Michigan                 3.6
Minnesota                4.1
Mississippi              1.4
Missouri                 2.4
Montana                  1.2
Nebraska                 4.8
Nevada                  11.6
New Hampshire            3.0
New Jersey              11.1
New Mexico               6.2
New York                10.5
North Carolina           5.7
North Dakota             3.0
Ohio                     2.6
Oklahoma                 4.3
Oregon                   5.7
Pennsylvania             3.5
Rhode Island             6.4
South Carolina           3.6
South Dakota             2.4
Tennessee                3.6
Texas                   12.6
Utah                     6.2
Vermont                  2.3
Virginia                 6.8
Washington               9.1
West Virginia            0.9
Wisconsin                3.2
Wyoming                  2.2
Name: % Non-citizen, dtype: object

In [138]:
df.head()

                                                          Source  ... State Abv
State                                                             ...
United States                                                NaN  ...       NaN
Alabama        https://www2.alabamavotes.gov/electionnight/st...  ...        AL
Alaska         https://www.elections.alaska.gov/results/20GEN...  ...        AK
Arizona             https://results.arizona.vote/#/featured/18/0  ...        AZ
Arkansas       https://results.enr.clarityelections.com/AR/10...  ...        AR

[5 rows x 9 columns]

In [139]:
df['% Non-citizen'].str.strip('%')

State
United States            7.8
Alabama                  2.3
Alaska                   3.4
Arizona                  8.9
Arkansas                 3.6
California              15.0
Colorado                 5.7
Connecticut              7.7
Delaware                 5.8
District of Columbia     7.1
Florida                 10.1
Georgia                  6.6
Hawaii                   9.1
Idaho                    4.1
Illinois                 7.8
Indiana                  3.6
Iowa                     3.5
Kansas                   4.9
Kentucky                 2.8
Louisiana                2.8
Maine                    1.7
Maryland                 8.4
Massachusetts            8.7
Michigan                 3.6
Minnesota                4.1
Mississippi              1.4
Missouri                 2.4
Montana                  1.2
Nebraska                 4.8
Nevada                  11.6
New Hampshire            3.0
New Jersey              11.1
New Mexico               6.2
New York                10.5
North Carolina           5.7
North Dakota             3.0
Ohio                     2.6
Oklahoma                 4.3
Oregon                   5.7
Pennsylvania             3.5
Rhode Island             6.4
South Carolina           3.6
South Dakota             2.4
Tennessee                3.6
Texas                   12.6
Utah                     6.2
Vermont                  2.3
Virginia                 6.8
Washington               9.1
West Virginia            0.9
Wisconsin                3.2
Wyoming                  2.2
Name: % Non-citizen, dtype: object

In [125]:
regex_val = r'^([-+]?[0-9]*\.?[0-9]+)'

In [127]:
df = df.convert_dtypes()
df.dtypes

Total Ballots Counted (Estimate)    string
dtype: object

In [140]:
df['% Non-citizen'] = df['% Non-citizen'].str.extract(regex_val, expand=False)

In [141]:
df['% Non-citizen'] = df['% Non-citizen'].astype(float)

In [142]:
df.nlargest(2,'% Non-citizen')

                                              Source  ... State Abv
State                                                 ...
California       https://electionresults.sos.ca.gov/  ...        CA
Texas       https://results.texas-election.com/races  ...        TX

[2 rows x 9 columns]